{% extends './base.html' %}
{% block title %}Gestión de Empleados{% endblock %}
{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Edicion de empleados</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarempleado" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="txtid" id="txtid" class="form-control" readonly value="{{empleados.id}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtnombre" id="txtnombre" class="form-control" value="{{empleados.nombre}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtapellido" id="txtapellido" class="form-control" value="{{empleados.apellido}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtdireccion" id="txtdireccion" class="form-control" value="{{empleados.direccion}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtdni" id="txtdni" class="form-control" value="{{empleados.dni}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtemail" id="txtemail" class="form-control" value="{{empleados.email}}">
                    </div>
                    <button type="submit" class="btn btn-success form-control">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}