{% extends './base.html' %}

{% block title %}Gestión de Proveedores{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Ingreso de Proveedores</h2>
        <a href="{% url 'reporte_pdf' %}">Descargar reporte PDF</a>
        <div class="card">
            <div class="card-body">
                <form action="/registrarproveedor" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="txtid" placeholder="ID" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtnombre" placeholder="Nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtdireccion" placeholder="Direccion" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="txttelefono" placeholder="telefono" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success form-control">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Lista de Proveedores</h2>
        <table class="table" style="background-color: #4591B8;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th colspan="3" style="text-align:center">opciones de manejo</th>
                </tr>
            </thead>
            <tbody>
                {% for p in proveedores %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.direccion }}</td>
                    <td>{{ p.telefono }}</td>
                    <td><a href="edicionproveedor/{{p.id}}" class="btn btn-info">Editar</a></td>
                    <td><a href="eliminarproveedor/{{p.id}}" class="btn btn-danger">Eliminar</a></td>
                    <td><a href="verproducto/{{p.id}}" class="btn btn-info">Ver producto</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}